# Deployer private key (never commit .env)
PRIVATE_KEY=3a88940ead243693e9aa1147f4c9d6c38a5cbc4315256e8db91b9de238dbfe2b

# Base Sepolia RPC (optional)
BASE_SEPOLIA_RPC=https://sepolia.base.org

# After: npx hardhat run scripts/deploy.js --network baseSepolia
REACT_APP_CONTRACT_ADDRESS=0xe0f3e4a2B26d463D6206A6d2C38078bF1fB84bC9
